files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/run_app.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      source /var/app/venv/*/bin/activate
      cd /var/app/current
      uvicorn main:app --host 0.0.0.0 --port 8000 &

container_commands:
  01_run_app:
    command: "/opt/elasticbeanstalk/hooks/appdeploy/post/run_app.sh"